
body {
	margin: 5%;
}

img {
	max-width:318px;
	max-height: 212px;
}

footer{
	background-color: black;
	padding: 2%;
	color: white;
}

.input-group-addon{
	height: : 10px;
}

#title {
    padding: .3rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: .3rem;
}
